/* Colors pulled from turkey Gif in hex
Brown #4e2114
Dark Brown #37231d
Lighter Green #10941B
Green #0c4e23
Darker Green #0d1f0c
Greyish White #0c4e23
Light Blue #74cfd1
Redish #9b0006
Redish Brown #783835
Mustard Yellow #dda904
*/


header {
    background: #762B18; /*above navigaton */
    top: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    line-height: 3.2%;
    font-size: 120%;
 }
 
nav { 
    overflow: hidden;
    text-align: center;
    margin: 4%;
    line-height: 200%;
    width: 90%;
    position: fixed;
   

}

nav a {
    float: none;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
  }
  
nav a:hover {
    background-image: url(images/leaf_fall_3_sm.gif);
    background-size: 200%;
  }
  
nav a.active {
    background-image: url(images/leaf_fall_2_sm.gif);
    background-size: 200%;
  }

p:first-letter {
font-size:115%;
}

/* * {
    padding: 0;
    margin:0;
    box-sizing: border-box;
} */

body {
    background: #CF933E;
    font-size:105%;
    line-height: 2;
    
}

.row { /*logo and under copyright*/
    max-width:90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Staatliches', cursive;
    
}

.wrapper { /*both main and aside */
    max-width:90%;
    margin: 0 auto;
}

main {
    width: 64%;
    float: left;
    background: #D4AE6D; /* left side*/
    height: 100%;
    margin: 8% auto 8%;
    border-style: solid;
    border-color: #944039;
    padding: 2%;
}
.main2 {
    width: 100%;
    float: left;
    background: #D4AE6D; /* left side*/
    height: 100%;
    margin: 10% auto 10%;
    border-style: solid;
    border-color: #7f8367;
    padding: 2%;
}

aside {
    width: 34%;
    float: right;
    background:#D4AE6D;/*white- right side*/
    height: 100%;
    margin: 8% auto 8%;
    border-style: solid;
    border-color: #944039;
}

.randomGif {
    padding: 1% 5%;
    float: left;
}

footer {
    height: 40px;
    line-height: 20px;
    background: #762B18; /*under copyright*/
    clear: both;
    bottom: 0;
    width: 100%;
    position: fixed;

}

h2 {
  color: #676191;
}

h3 {
    color: #2A6C43;
}
/* .copyright {
    height: 50px;
    line-height: 50px;
    background: rgb(68, 105, 81);
    color: white;
} */

.copyright li {
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

.columns {
    float:left;
}

.column {
    width: 20%;
    float: left;
    margin: 15px;
}
